<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead">
                                <p style="text-align: center;"><strong>
                                CLAIM FOR MOVE ON LEAVE TRAVEL CONCESSION (LTC)
                                </strong></p>
                            </div>
                            </div>
                            </div>

<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead">
                                <p><strong>
                                Personal Details
                                </strong></p>
                            </div>
                            <div class="welcomecont">
<table class="filtersearch">
  		<tbody class="all1">
							<tr>
								<td class="lablevalue">Name of Claimant</td>
								<td th:text="${taDaClaimDetails.name}"></td>
								<td class="lablevalue">Designation</td>
								<td th:text="${taDaClaimDetails.designatin}"></td>
								<td class="lablevalue">Level</td>
								<td th:text="${taDaClaimDetails.levelName}"></td>
								<td class="lablevalue">Office / Unit</td>
								<td th:text="${taDaClaimDetails.unitName}"></td>
							</tr>
							<tr>
								<td class="lablevalue">Move Sanction No</td>
								<td th:text="${taDaClaimDetails.moveSanctionNo}"></td>
								<td class="lablevalue">Move Sanction Date</td>
								<td th:text="${taDaClaimDetails.movSanctionDate}"></td>
								<td class="lablevalue">Authority (Rule in TR/SR)</td>
								<td th:text="${taDaClaimDetails.trRuleName}"></td>
								<td class="lablevalue">Personal/Staff No</td>
								<td th:text="${taDaClaimDetails.personalNo}"></td>
							</tr>

	  	<tr>
  		  <td class="lablevalue" colspan="2">Leave Details</td> 
  		  <td class="lablevalue">From</td> 
  		  <td th:text="${taDaClaimDetails.leaveFrom}"></td>
  		  <td class="lablevalue">To</td> 
  		  <td th:text="${taDaClaimDetails.leaveTo}"></td>
  		  <td class="lablevalue">Date/Time of start</td> 
  		  <td th:text="${taDaClaimDetails.jrnyStrtdTime}"></td>
	  	</tr>
	  	<tr>
  		  <td class="lablevalue">Home Town</td> 
  		  <td th:text="${taDaClaimDetails.hometown}"></td>
  		  <td class="lablevalue">Declared Leave Station</td> 
  		  <td th:text="${taDaClaimDetails.leaveStn}"></td>
  		  <td class="lablevalue">LTC Block Year</td> 
  		  <td th:text="${taDaClaimDetails.ltcBlockYr}"></td> 
  		  <td class="lablevalue">LTC Calendar Year</td> 
  		  <td th:text="${taDaClaimDetails.ltcCalYr}"></td>
  		</tr>
  		</tbody>
</table>
</div>
</div>
</div>


 <div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearch">
<tbody class="all1">
<tr class="tadaHeading">
	 <td style="font-size:15px"><strong>DTS Journey Details</strong></td>
</tr>
</tbody>
</table>
<table class="filtersearch" th:if="${taDaClaimDetails.taDaJourneyDetails}!=null">
     
     <tbody class="all1" th:each="src:${taDaClaimDetails.taDaJourneyDetails.taDaJourney}">
  		<tr>
										<td colspan="11" style="text-align:right;background-color:#AAAAAA" class="lablevalue">Journey
												Type:<span style="font-weight:normal" th:text="${src.journeyType}"></span></td>
  		</tr> 
  		<tr>
  		  <td class="lablevalue">Mode of Travel</td> 
          <td><span th:text="${src.travelMode}"></span></td>
  		  <td class="lablevalue">Departure Place</td> 
										<td th:text="${src.fromStation}"></td>
  		  <td class="lablevalue">Arrival Place</td> 
										<td th:text="${src.toStation}"></td>
  		  <td class="lablevalue">Class of Accommodation</td> 
										<td th:text="${src.journeyClass}"></td>
	  	</tr>
	  	<tr>
										<td class="lablevalue">Departure Time</td>
										<td th:text="${src.journeyDate}"></td>
  		  <td class="lablevalue">Arrival Time</td> 
										<td th:text="${src.journeyEndDate}"></td>
  		  <td class="lablevalue">Sector</td> 
										<td th:text="${src.sector}"></td>
  		  <td class="lablevalue">Bill/PNR/ Ticket No.</td> 
										<td th:text="${src.pnrOrAirTxnd}"></td>
	  	</tr>
	  	<tr>
  		  <td class="lablevalue">Distance(KM)</td> 
										<td th:text="${src.distance}"></td>
  		  <td class="lablevalue">Total Fare</td> 
										<td th:text="${src.bookingAmount}"></td>
  		  <td class="lablevalue">Total Refund</td> 
										<td th:text="${src.refundAmount}"></td>
  		  <td class="lablevalue">Total Claimed Amount</td> 
										<td th:text="${src.claimedAmount}"></td>
	  	</tr>
	  	<tr>
	  	  <td colspan="11" style="background-color:#003A70">
	  	       <table class="filtersearch">
	  	       <tbody class="all3">
		  		<tr class="lablevalue">
		  		      <td>Traveler Name</td>
			  		  <td>Relation</td>
			  		  <td>Age</td>
			  		  <td>Ticket No</td> 
			  		  <td>Journey Performed?</td>
			  		  <td>Booking Amount</td>
			  		  <td>Refund Amount</td>
			  		  <td>Claimed Amount</td>
			    </tr>
												<tr th:each="sr:${src.taDaPassDetails}">
													<td th:text="${sr.travellerName}"></td>
													<td th:text="${sr.relation}"></td>
													<td th:text="${sr.age}"></td>
													<td th:text="${sr.ticketNo}"></td>
													<td th:if="${sr.journeyPerformed}=='YES'"
														th:text="${sr.journeyPerformed}"></td>
													<td
														th:unless="${sr.journeyPerformed}=='YES'">
														<div class="tooltip">
															<p style="text-decoration: underline;margin-bottom:0"
																th:text="${sr.journeyPerformed}"></p>
															<table class="tooltiptext" style="text-align: left;left:-60px">
																<tbody class="all5">
																<tr class="lablevalue">
																	<td style="white-space:nowrap;">Cancellation Ground: <span style="font-weight:normal"
																		th:text="${sr.cancellationGrnd}"></span></td>
																</tr>
																<tr class="lablevalue">
																	<td style="white-space:nowrap;"> Sanction No: <span style="font-weight:normal"
																		th:text="${sr.cancellationRmrk}"></span></td>
																</tr>
																<tr class="lablevalue">
																	<td style="white-space:nowrap;"> Sanction Date: <span style="font-weight:normal"
																		th:text="${sr.cancellationDate}"></span></td>
																</tr>
																</tbody>
															</table>
														</div>
													</td>
													<td th:text="${sr.bookingAmount}"></td>
													<td th:text="${sr.refundAmount}"></td>
													<td th:text="${sr.claimedAmount}"></td>
												</tr>
												</tbody>
		  	 </table>	
          </td>
       </tr>
    </tbody>
</table> 		
</div>	


<div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearch">
<tbody class="all1">
<tr class="tadaHeading">
	<td style="font-size:15px">Advances Drawn </td>
</tr>
</tbody>
</table>

<table style="table-layout:fixed" class="filtersearch">
<tbody class="all1">
<tr class="lablevalue">
    <td>Advance Drawn from PAO</td>
	<td>Date of Advance Drawn from PAO</td>
	
</tr>
<tr>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvanceAmount}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvanceDate}"></td>
	
</tr>

<tr class="lablevalue">
    <td>Advance Drawn from Other Sources</td>
	<td>Voucher No for Advance Drawn from Other Sources</td>
	<td>Date of Advance Drawn from Other Sources</td>
	
</tr>
<tr>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.otherAdvncAmnt}"></td>
	<td th:text="${taDaClaimDetails.claimAdvanceDtls.otherAdvncRefId}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.otherAdvncDate}"></td>
	
</tr>
</tbody>
</table>
</div>

<div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearch">
<tbody class="all1">
<tr class="tadaHeading">
	<td style="font-size:15px">Advances Refunded </td>
</tr>
</tbody>
</table>

<table style="table-layout:fixed" class="filtersearch">
<tbody class="filtersearch">
<tr class="lablevalue">
    <td>eMRO/MRO/Refund Amount</td>
	<td>eMRO/MRO/Refund No</td>
	<td>eMRO/MRO Submission Date/Refund  Date</td>
	<td>MRO Received</td>
	
</tr>
<tr>
		<td><span th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundAmount}"></span></td>
		<td th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundRefId}"></td>
		<td th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundDate}"></td>
		<td th:text="${taDaClaimDetails.claimAdvanceDtls.mroReceived}"></td>
		
</tr>
</tbody>
</table>
</div>


<div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearch">
<tbody class="all1">
    <tr class="tadaHeading">
	  <td colspan="4">&#160;</td>
    </tr>
 	<tr>
	 	<td class="lablevalue" style="width:25%">Any other Deduction from Officer</td>
	 	<td style="width:25%" th:text="${taDaClaimDetails.claimAdvanceDtls.otherDeduction}"></td>
	 	<td class="lablevalue" style="width:20%">Reason</td>
	 	<td style="width:30%" th:text="${taDaClaimDetails.claimAdvanceDtls.deductionReason}"></td>
 	</tr>
 	</tbody>
</table>
</div>


<div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearh">
<tbody class="all1">
 	<tr class="lablevalue">
	 	<td><span>Total Amount of Claim(Submitted)</span>:&#160;&#160;<span th:text="${taDaClaimDetails.totalSpentAmount}"></span></td>
	 
 	</tr>
 	<tr class="lablevalue">
	 	<td><span>less: Advance Taken(User) including DTS Tickets</span>:&#160;&#160;<span th:text="${taDaClaimDetails.totalAdvanceAmount}"></span></td>
	 
 	</tr>
 	<tr class="lablevalue">
	 	<td><span>add: e-MRO Refunds(User)</span>:&#160;&#160;<span th:text="${taDaClaimDetails.totalRefundAmount}"></span></td>
	 	
 	</tr>
 	<tr class="lablevalue">
	 	<td><span>Payable/Recoverable Amount</span>:&#160;&#160;<span th:text="${taDaClaimDetails.totalClaimedAmount}"></span><span class="mandatory">*</span></td>
	 	
 	</tr>
 	<tr class="lablevalue">
	 	<td><font color="red"><span>* Negative amount reflects recovery from the Officer</span></font></td>
 	</tr>
 	</tbody>
</table>
</div>


<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead">
                                <p>
                                Certify that
                                </p>
                            </div>
                            <div class="welcomecont">
<table class="filtersearch">
	<tbody class="all1"> 
	<tr th:each="certify:${taDaClaimDetails.claimCertifyView}">
		<td style="width:5%" th:text="${certifyStat.count}"></td>
		<td style="width:95%" th:text="${certify.certifyQuestion}"></td>
	</tr>
	</tbody>
</table>
</div>
</div>
</div>


<div class="welcomebox" style="margin-bottom:2px" th:unless="${#lists.isEmpty(taDaClaimDetails.claimDocDtls)}">
<table class="filtersearch">
	<tbody class="all1">
	<tr class="tadaHeading">
		<td colspan="2" style="font-size:15px">Uploaded documents: </td>
	</tr>
	</tbody>
	
	<tbody class="all1">
	   <tr class="lablevaluebg" >
		   <td class="lablevalue">Document Name</td>
		   <td class="lablevalue">File</td>
	   </tr>

		<tr th:each="file:${taDaClaimDetails.claimDocDtls}">
			<td th:text="${file.docName}"></td>
			<td th:if="${file.filePath} == null or ${file.filePath}==''"></td>
			<td th:unless="${file.filePath} == null or ${file.filePath}==''">
            	<a th:href="@{/com/downloadFile(dwnFilePath=${file.filePath})}"><img th:src="@{/images/pdfImage.png}" style="width:25px;height:25px" alt=""></a>
			</td>
	   </tr>
	</tbody>
</table>
</div>

<div class="welcomebox" style="margin-bottom:2px">
<table class="filtersearch">
<tbody class="all1">
							<tr th:if="${taDaClaimDetails.armedfrc}==1">
								<td class="lablevalue">Counter Singing Authority</td>
								<td colspan="3"
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityName}"></td>
							</tr>

							<tr th:unless="${taDaClaimDetails.armedfrc}==1">
								<td class="lablevalue">Counter Singing Authority Personal No</td>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityPersonal}"></td>
								<td th:text="${taDaClaimDetails.claimAdvanceDtls.authorityName}"></td>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityLevel}"></td>
							</tr>

<tr>
	<td colspan="2" class="lablevalue">Date of Claim preferred by the Individual to the Office</td>
	<td colspan="2" th:text="${taDaClaimDetails.claimAdvanceDtls.claimSubmitDate}"></td>
</tr>

<tr class="lablevalue">
  <td colspan="4">
    If Date of Claim Preferred is more than 60 days from last date of Journey then whether time barred sanction taken?
<span style="font-weight:normal" th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimPrfrd}"></span>
</tr>

<tr class="lablevalue">
	<td>Sanction No: <span style="font-weight:normal" th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimAuth}"></span></td>
	<td colspan="3">Sanction Date: <span style="font-weight:normal" th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimDate}"></span></td>
</tr>
</tbody>
</table>
</div>

</body>
</html>
