<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100001'">
                                <b><p style="text-align:center">
                                TRAVELLING ALLOWANCE CLAIM FOR MOVES ON PERMANENT TRANSFER
                                </p></b>
                            </div>
                            <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100002'">
                                <b><p style="text-align:center">
                                CLAIM FOR MOVE ON TEMPORARY DUTY (TOUR)
                                </p></b>
                            </div>
                            <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100005'">
                                <b><p style="text-align:center">
                                CLAIM FOR MOVE ON LEAVE TRAVEL CONCESSION (LTC)
                                </p></b>
                            </div>
                            <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100006'">
                                <b><p style="text-align:center">
                                CLAIM FOR MOVE ON LEAVE TRAVEL CONCESSION (LTC)
                                </p></b>
                            </div>
                            <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100007'">
                                <b><p style="text-align:center">
                                CLAIM FOR MOVE ON LEAVE TRAVEL CONCESSION (LTC)
                                </p></b>
                            </div>
                             <div class="welcomeHead" th:if="${claimView.travelContent.travelTypeId} == '100008'">
                                <b><p style="text-align:center">
                                CLAIM FOR MOVE ON LEAVE TRAVEL CONCESSION (LTC)
                                </p></b>
                            </div>
                            <div class="welcomecont">
<table class="filtersearch" cellspacing="1" cellpadding="4" width="100%" border="0">
<tbody class="all1">
  		<tr>
	  		  <td><span class="lablevalue">Personal No: </span><span th:text="${claimView.travelContent.personalNumber}"></span></td> 
	  		  <td><span class="lablevalue">CDAO A/c No: </span><span th:text="${claimView.personalInfo.cDAOAC}"></span></td>  
	  		  <td><span class="lablevalue">Name: </span><span th:text="${claimView.personalInfo.name}"></span></td>
	  	</tr>
	  	</tbody>
</table>
</div>
</div>
</div>


<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:1rem">
                            <div class="welcomeHead">
                                <b><p>
                                Kindly upload all the Claim related documents
                                </p></b>
                            </div>
                            <div class="welcomecont">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"  class="filtersearch">
			<tbody class="all1">
			<tr th:each="src : ${claimView.claimDocument}">
				<td style="font-weight: bold;" th:id="'innerDocName_'+${src.docId}">
					<span th:text="${srcStat.count}"></span>. <span th:text="${src.docName}"></span>
				</td>
				<td><input th:id="${src.docId}" type="file"/></td>
				<td><button th:id="'upload_' + ${src.docId}" class="butn" th:attr="onclick='return ajaxUploadFile(\''+${src.docId}+'\')'" type="button">UPLOAD</button></td>
				<td><a href="javascript:void(0);" th:id="${src.docId}+'View'"> </a>
				 <input type="hidden" name="fileTypeName" th:value="${src.docId}">
				 <input type="hidden" name="fileTypePath" th:id="|${src.docId}File|">
				</td>
			</tr>
		</tbody>
		</table>
</div>
</div>
</div>

</body>
</html>