<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login/head}"></head>
<body>
	<div>
<div th:insert="~{fragments/header/mainHeader}"></div>
		<div class="container-fluid">
			<div style="width: auto; padding: 5px; filter: shadow(colorgray)">
				<div
					style="width: 100%; text-align: left; padding: 5px; background-color: #F4F4F4; border: 1px solid black;">
					<FONT SIZE="6" COLOR="#CC0033">Dear User</FONT>
					<hr />
					<BR /> <FONT SIZE="4" COLOR="#484B91"> There has been an
						error encountered due to which we will not be able to proceed
						further. <br>
					</FONT> <FONT SIZE="3"> <span style="color: red;"
						th:each="error:${errors}"> <span
							th:utext="${error}"></span>

					</span>
					</FONT> <br />
				</div>
			</div>
		</div>

	</div>

	<section>
<!-- 		<div th:insert="~{fragments/login/footer}"></div> -->
	</section>

</body>

</html>