<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{title}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/lib/jquery.datetimepicker.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/keyboard.css}">
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.datetimepicker.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.validate.min.js}"></script>


</head>
<script type="text/javascript" th:src="@{/js/common/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/common/forgotCaptcha.js}"></script>
<script type="text/javascript">


function trim(n)
	{
   		return n.replace(/^\s+|\s+$/g,'');
	}
	
	function doGenerate(){
		var pno=$("#personalNo").val().trim();
		var encrypPno =CryptoJS.AES.encrypt(pno,"Hidden Pass");
		
		if(pno ==""){
			alert("Please Enter User Id");
			return false
		}else{
			
		 let captchaInput = $("#cpatchaTextBox").val().trim();

	    if ( captchaInput == "") {
		 alert("Please enter captcha code");
		 createCaptcha();
		 return false;	
		}
		
		 if(validateCaptcha(captchaInput)){
			$("#personalNo").val(encrypPno);
			$("#forgotPswdForm").submit();
		 }else{
		    alert("Invalid Captcha. Please try again.");
             createCaptcha();
             $("#cpatchaTextBox").val("");
              return false;
		 }
		}
	}
	
		
</script>

<body>
	<section class="topbar">
              <div id="block" class="container-fluid">
            <div class="headnav">
            </div>
        </div>
	 </section>
<section class="midpart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
<div class="message" align="center">

<form th:action="@{getForgotPasswrdPno}" name="forgotPswdForm" th:method="post" id="forgotPswdForm">   

<input type="hidden" id="context_path" th:value="@{/}" />
<br/>

<div id="program" class="programBlock">
                        <div class="welcomebox">
                            <div class="welcomeHead">
								<p>Forgot Password</p>
                            </div>
                             <div class="welcomecont">
 <div>
 
<span th:text="${error}" style="color: red;"> </span>

</div>                       
                             
<table class="filtersearch" id="questionTable">

<tbody class="all">



        <tr>
		<td style="width:40%;border: none;color:#008080"> User Id</td>
		<td style="width:60%"><input type="text" id="personalNo" class="txtfldM" autocomplete="off" name="personalNo"/> </td>
		</tr>
		<tr>
		<td style="width:40%;border: none;color:#008080"></td>
		<td style="width:60%">
         <div ><img src="" id="captchaImage"></div><br>
        
        <input type="text" placeholder="Enter Captcha Code" name="captchaText" id="cpatchaTextBox" autocomplete="off" style= " width:170px; height: 30px; border-color: skyblue;"/>
        <a href="#" id="refreshLink"><img th:src="@{/images/refresh-icon-hd-png-download.jpg}" style="width:15px;height:15px; display: inline-block;" alt=""></a>
        </td>
        </tr>              
       <tr>
       <td style="width:40%;border: none;color:#008080"></td>                
        <td style="width:60%"><span class="note" style="color:red">[Note:Captcha Code is Case Sensitive]</span> </td>
       </tr>


<tr>
<td style="text-align:center" colspan="2"><button type="button" class="butn"  onclick="doGenerate();">Submit</button>
 <button type="submit" class="butn"  th:formaction="@{/logout}" th:method="get">Cancel</button></td>
</tr>
</tbody>
</table>
                             </div>
                        </div>
</div>

 
</form>
</div>
				</div>
			</div>
		</div>
</section>
<section>
	<div class="blank"></div>
	</section>
	<section>
    <div th:insert="~{fragments/login/footer}"></div>
    </section>
</body>
</html>
