<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/model.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/popup/LightFace.css}">
<script th:src="@{/js/common/popup/mootools.js}"> </script>
<script th:src="@{/js/common/popup/LightFace.js}"> </script>
<script th:src="@{/js/common/popup/LightFace.Request.js}"> </script>
<script th:src="@{/js/common/popup/LightFace.IFrame.js}"> </script>





<body>

<section>

<form>

<input type="hidden" id = "SelectedAIFlightKey" th:value="${airBookParent.topFlightKey}" name="SelectedAIFlightKey">
<input type="hidden" id="requestMode" name="requestMode" th:value="${airBookParent.requestMode}">
<input type="hidden" id="searchErrorMessage" value="">
	<input type="hidden" id="reqTimeSlot" name="reqTimeSlot" value="1" />


                  


									<!-- Time Band AI filter added (start from here) -->
									<div class="filter-subdivisions" id="time-band-ai" style="padding: 5px 0;">
										<span class="lablevalue" style="padding: 0 5px;">Time Band Details</span>
										<div id="time-band-filter-ai" class="model-window" style="padding: 4px 5px;">
											<table class="inner-table" style="border:solid;">
												<tr>
													<td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand1" value="1" onclick="filterTimeBands();">&#160;00:00 - 03:00
													</td>
													<td style="border:solid;width:10%">  
													   <input type="radio" name="timeBand" id="timeBand2" value="2" onclick="filterTimeBands();">&#160;03:00 - 06:00
													 </td>
											    
											        <td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand3" value="3" onclick="filterTimeBands();">&#160;06:00 - 09:00
													 </td>
													<td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand4" value="4" onclick="filterTimeBands();">&#160;09:00 - 12:00
													 </td>
											    
											        <td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand5" value="5" onclick="filterTimeBands();">&#160;12:00 - 15:00
											         </td>
											       <td style="border:solid;width:10%"> 
													   <input type="radio" name="timeBand" id="timeBand6" value="6" onclick="filterTimeBands();">&#160;15:00 - 18:00
											         </td>
												 
												     <td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand7" value="7" onclick="filterTimeBands();">&#160;18:00 - 21:00
												      </td>
												     <td style="border:solid;width:10%">
													   <input type="radio" name="timeBand" id="timeBand8" value="8" onclick="filterTimeBands();">&#160;21:00 - 24:00
													</td>
												</tr>
													
											</table>
										</div>
									</div>

									<!-- Time Band AI filter added (end here) -->
                              


		<div class="searchContainer" id="tabairindia">

                              <table id="noAiFlight" class="filtersearch" th:if="${#lists.isEmpty(airBookParent.flightOption)}">
                              <tbody class="all1">
									<tr>
										<td class="lablevalue" colspan="6">No Flights Available</td>
									</tr>
									</tbody>
								</table>



								<table id="AITable" class="tablesorter" th:unless="${#lists.isEmpty(airBookParent.flightOption)}">
									<thead class="all1">
										<tr>
											<th class="header"> </th>
											<th class="header">Flight</th>
											<th class="header">Service Provider</th>
											<th class="header">Booking Class</th>
											<th class="header">Departs</th>
											<th class="header">Arrives</th>
											<th class="header">Duration</th>
											<th class="header">Fare(INR)</th>
											<th class="header"> </th>
										</tr>
									</thead>

									<tbody class="all1">

									<tr th:class="@{|AI_${src.stopOverClass} TimeBand_${src.flightLegs[0].filterTimeSlot}|}"
												th:id="@{|ai-${srcStat.index}|}" th:each="src : ${airBookParent.flightOption}">
										<td class="ltcCSSClass">
													
															<span>
																<input type="radio"  th:id="@{|checkBox_${srcStat.index}|}"
																th:value="${src.flightKey}" name="flightCheckBox" th:attr="onclick='otherRadioOff(\''+${srcStat.index}+'\',\''+${src.flightKey}+'\');'">
																
															</span>
													
												</td>

												<td class="ltcCSSClass">
												
												<div>
												<span class="append_bottom">
											<table>
																	<tr th:each="item, stats : ${src.flightLegs}">
																	
																		<td th:if="${stats.size}==1" id="flightCondition">
																			<span th:class="@{|flight-icon ${item.carrierImageClass}|}">
																			</span>
																			<br/>
																			<span
																				class="flight-icon_name block sub-title"
																				th:text="${item.carrierName}"></span><br>
																			
																			<span class="flight-icon_name sub-title"
																				th:text="${item.flightNumber}"></span>
																		</td>
																		<td th:if="${stats.size} &gt; 1 and ${stats.index} == 0" id="flightCondition"> 
																			<span class="flight-icon multi-flight">
																			</span>
																			<span
																				class="flight-icon_name block sub-title"
																				th:text="${item.carrierName}"></span><br>
																			
																			<span class="flight-icon_name sub-title"
																				th:text="${item.flightNumber}"></span>
												</td>
												</tr>
                                                </table>
												</span>
                                                </div>
                                               
												</td>
												<td style="text-align:center">
													
														<span th:if="${src.serviceProvider}=='BL'"><img th:src="@{/images/BL-Logo.png}" alt="BL">
														</span>
														<span th:if="${src.serviceProvider}=='ATT'"><img
																th:src="@{/images/ATT-Logo.png}" alt="ATT"></span>

													
												</td>
												<td style="text-align:center">
													<font size="2"><strong><span th:text="${src.displayBookingClass}"></span></strong></font>
												</td>
                                                        <td th:style="${$ltcCSSClass}" id="flightCondition">
														<table>
															<tr th:each="sr, stats : ${src.flightLegs}">
																<td th:if="${stats.size}==1">
																	<span class="time"
																		th:text="${sr.departureTime}"></span>
																	<span class="city-name"
																		th:text="${sr.originName} +'('+${sr.origin}+')'"></span>
																</td>
																<td th:if="${stats.size} &gt; 1 and ${stats.index} == 0">
																	<span class="time"
																		th:text="${sr.departureTime}"></span>
																	<span class="city-name"
																		th:text="${sr.originName} +'('+${sr.origin}+')'"></span>
												  </td>
												  </tr>
												  </table>
                                                   </td>


													<td th:style="${$ltcCSSClass}"  id="flightCondition">
														<table>
															<tr th:each="it, stats : ${src.flightLegs}">
																<td th:if="${stats.size}==1">
																	<span class="time"
																		th:text="${it.arrivalTime}"></span>
																	<span class="city-name"
																		th:text="${it.destinationName} +'('+${it.destination}+')'"></span>
																</td>
																<td th:if="${stats.size} &gt; 1 and ${stats.count} == ${stats.size}">
																	<span class="time"
																		th:text="${it.arrivalTime}"></span>
																	<span class="city-name"
																		th:text="${it.destinationName} +'('+${it.destination}+')'"></span>
														</td>
												</tr>
												</table>
												 </td>


												<td class="ltcCSSClass">
													<span class="time" th:text="${src.totalJourneyDuration}"></span>
												</td>

												<td class="ltcCSSClass">
													<span class="price-info WebRupee" th:text="${src.totalFare}"></span>
												</td>
												<td class="ltcCSSClass">
												<a th:href="@{|#openModal-ai-${srcStat.index}|}">Details</a><br>

													<a href="javascript:void(0);"
														th:attr="onclick='viewAirFareRule(\''+${src.flightKey}+'\',\''+${src.serviceProvider}+'\',\''+${airBookParent.searchType} +'\')'">Fare
														Rule</a><br>

												<span><button type="button" th:if="${src.isBookingAllow}" class="book-button" style="width:75%;margin-left:3%"
													th:attr="onclick='setFlightRequestData(\''+${src.flightKey}+'\',\'AI\',\''+${airBookParent.jrnyType}+'\',\''+${src.flightLegs[0].departureTime}+'\')'">
												Save</button></span>

											<div th:id="@{|openModal-ai-${srcStat.index}|}" class="modalDialog">
										    <div>
											<a href="#close" title="Close" class="close">X</a>
										
											<table class="filtersearch">
											
											<tbody>
											<tr>
												<td>
													<table id="model-table">
														<thead>
															<tr>
																<td style="text-align:center">Flight</td> 
															    <td style="text-align:center">Departs</td>  
															    <td style="text-align:center">Arrives</td>  
															    <td style="text-align:center">Duration</td>  
															    
															</tr>
														</thead>
														<tbody>
														
														
															
																<tr th:each="sr : ${src.flightLegs}">
																	<td style="text-align:center">
																		<span th:class="@{|flight-icon ${sr.carrierImageClass}|}"> </span><br>
																			<span class="flight-icon_name block sub-title"  th:text="${sr.carrierName}"></span><br>
																			<span class="flight-icon_name sub-title" th:text="${sr.flightNumber}"> </span>
																	</td>
																	<td style="text-align:center">
																		<span class="time" th:text="${sr.departureTime}"></span>
																		<span class="city-name" th:text="${sr.displayDepartureDate}"></span>						    				
						    											<span class="city-name" th:text="${sr.originName} +'('+${sr.origin}+')'"> </span>
						    										
						    										</td>
						    										<td style="text-align:center">
																		<span class="time" th:text="${sr.arrivalTime}"></span>
																		<span class="city-name" th:text="${sr.displayArrivalDate}"> </span>							    				
						    											<span class="city-name" th:text="${sr.destinationName} +'('+${sr.destination}+')'"> </span>
						    										
						    										</td>
						    										<td style="text-align:center">
						    											<span class="time"  th:text="${sr.journeyDuration}"> </span>
						    										</td>
						    										
						    										
																</tr>
															</repeat>
														</tbody>
													</table>
											</td>
											<td>
											<table id="flightCondition"  class="filtersearch">
						    								<tr>
						    								<td style="text-align:center;text-transform: uppercase;background-color: green;font-weight: bold;color:white;"
						    								th:if="${src.flightFareBean.refundableInfo}=='Y'">Refundable</td>						    										
						    								<td style="text-align:center;text-transform: uppercase;background-color: red;font-weight: bold;color:white;"
						    								th:if="${src.flightFareBean.refundableInfo}=='N'">Not refundable</td>
						    								</tr>
						    								
						    								  <tr th:if="${src.overlayoutDuration}=='0'">
						    									<td> </td>
						    							    	</tr>
						    								
												                 <tr th:if="${src.overlayoutDuration}!='0'">
						    										<td style="text-align:center;">
						    										<span> Layover:</span>
						    										<span th:text="${src.overlayoutDuration}"> </span>
						    										</td>
						    									</tr>
												                     
												                  
						    									
						    									<tr>
						    									<td style="text-align:center">
						    								 		<span class="price-info WebRupee">Rs.</span>
						    								 				<span th:text="${src.totalFare}"> </span>		    								 	
						    								  	</td>
						    								  </tr>
						    								  
						    								  </table>	
						    								
						    						
											</td>
											</tr>
											</tbody>
											</table>
											
											 <table  class="details" style="margin-top: 1%; font-family: Times New Roman;">
											 <tr>
											 	<td colspan="2" style="text-align:left">
											 		<span class="title">Fare Details</span>
											 		
											 	</td>
											 </tr>
											 
											 
											 <tr th:if="${airBookParent.aduldCount} !=0">
															<td style="text-align:center"><span>Base fare :</span><span th:text="${airBookParent.aduldCount}"></span><span>Adult(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.adultBaseFare}"></td>
											</tr>
											
											 	
											 	
											 			<tr th:if="${airBookParent.childCount}!=0">
														<td style="text-align:center"><span>Base fare:</span><span th:text="${airBookParent.childCount}"></span> </span><span>Child(s)</span></td>
														<td style="text-align:center" th:text="${src.flightFareBean.childBaseFare}"></td>
														</tr>
											 	
											 	
											 	
												<tr th:if="${airBookParent.infantCount}!=0">
														<td style="text-align:center"><span>Base fare:</span><span th:text="${airBookParent.infantCount}"></span> <span>Infant(s)</span></td>
														<td style="text-align:center" th:text="${src.flightFareBean.infantBaseFare}"></td>
														</tr>
											 	
											 	<tr>
											 		<td style="font-weight: bold;text-align:center">Total (Base fare)</td>
											 		<td style="font-weight: bold;text-align:center" th:text="${src.flightFareBean.totalBaseFare}"> </td>
											 	
											 	</tr>
											 	
											 <tr th:if="${airBookParent.aduldCount} !=0">
															<td style="text-align:center"><span>Fuel charge:</span><span th:text="${airBookParent.aduldCount}"></span><span>Adult(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.adultQ}"></td>
											</tr>
											 	
											 	
											 	
											 			<tr th:if="${airBookParent.childCount}!=0">
														<td style="text-align:center"><span>Fuel charge:</span><span th:text="${airBookParent.childCount}"></span> </span><span>Child(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.childQ}"></td>
											 </tr>
											 	
												<tr th:if="${airBookParent.infantCount}!=0">
														<td style="text-align:center"><span>Fuel charge:</span><span th:text="${airBookParent.infantCount}"></span> </span><span>Infant(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.infantQ}"></td>
											</tr>
												
										
											 	<tr>
											 		<td style="font-weight: bold;text-align:center">Total Airline fuel charge</td>
											 		<td style="font-weight: bold;text-align:center" th:text="${src.flightFareBean.totalQ}"></td>
											 	
											 	</tr>
											 	
											 	
											 	
											 	
											
											 <tr th:if="${airBookParent.aduldCount} !=0">
															<td style="text-align:center"><span>Tax:</span><span th:text="${airBookParent.aduldCount}"></span><span>Adult(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.adultTax}"></td>
											 </tr>
											 	
											 	
											 			<tr th:if="${airBookParent.childCount}!=0">
														<td style="text-align:center"><span>Tax:</span><span th:text="${airBookParent.childCount}"></span> </span><span>Child(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.childTax}"></td>
											 </tr>
											 	
												<tr th:if="${airBookParent.infantCount}!=0">
														<td style="text-align:center"><span>Tax:</span><span th:text="${airBookParent.infantCount}"></span> </span><span>Infant(s)</span></td>
															<td style="text-align:center" th:text="${src.flightFareBean.infantTax}"></td>
											</tr>
												
										
											 	<tr>
											 		<td style="font-weight: bold;text-align:center">Total Tax(Including fuel charge)</td>
											 		<td style="font-weight: bold;text-align:center" th:text="${src.flightFareBean.totalTax}"></td>
											 	
											 	</tr>
											 	<tr>
											 		<td style="text-align:center">Transaction fees</td>
											 		<td style="text-align:center" th:text="${src.flightFareBean.transactionFee}"></td>
											 	
											 	</tr>
											 	<tr>
											 		<td style="text-align:center">Service fees</td>
											 		<td style="text-align:center" th:text="${src.flightFareBean.serviceFee}"></td>
											 	
											 	</tr>
											 	
											 	<tr>
											 		<td style="font-weight: bold;color:red;text-align:center">Gross Payable Amount</td>
											 		<td style="font-weight: bold;color:red;text-align:center" th:text="${src.flightFareBean.totalNet}"> </td>
											 	
											 	</tr>
											</table>
											
											
											
											
										</div>
									</div>
												

												</td>
											</tr>

									
									</tbody>
								</table>


							</div>
							<!-- Air India search result page start from here -->
</form>
</section>

</body>

</html>