<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/login/head}"></head>
<script type="text/javascript" th:src="@{/js/common/crypto.js}"></script>

<script type="text/javascript">

function checkValidation(event){

	var personalNumber = $("#personalNo").val();
	if(personalNumber != ''){
		var encryptPNo = CryptoJS.AES.encrypt(personalNumber,"Hidden Pass");
		$("#personalNo").val(encryptPNo);
		$("#searchformid").submit();
	}else{
		alert("Please fill personal number");
		event.preventDefault();
	}	
}
function encryptPNo(){
	var prsnlNo = $("#personalNum").val().trim();
	
	if(prsnlNo!=''){
		var encryptPNo = CryptoJS.AES.encrypt(prsnlNo,"Hidden Pass");
		$("#personalNum").val(encryptPNo);
}
}

function encryptPersonalNo(personalNo){
	var prsnlNo1 = personalNo.trim();
	
	if(prsnlNo1!=''){
		var encryptPNo = CryptoJS.AES.encrypt(prsnlNo1,"Hidden Pass");
		
		$("#personalNum1").val(encryptPNo);
		
}
}


</script>
<body oncontextmenu="javascript:alert('Mouse Right Click is blocked');false;">
<div th:insert="~{fragments/header/mainHeader}"></div>

<section id="midpart" class="midpart">

        <div class="container-fluid">
            <div class="row">
<div th:text="${errors}" class="errors" style="padding-left:3%"></div>
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
				<form method="post" th:action="@{/mb/searchTraveler}" id="searchformid">
					
						<div id="program" class="programBlock">
							<div id="welcomebox" class="welcomebox" style="margin-bottom:0.5rem">
								<div id="welcomeHead" class="welcomeHead">
									<p>Edit Profile Requested</p>
								</div>
								<div id="welcomecont" class="welcomecont">
									<table id="filtersearch" class="filtersearch">
										<tbody id="all1" class="all1">
											<tr>
												<td class="lablevalue" style="width: 30%">Personal No/ PAN No</td>
												<td style="width: 70%"><input name="personalNo" type="text" value="" id="personalNo" autocomplete="off" th:value="${personalNo}"></td>
												</tr>
												<tr>
												<td style="border: none"><button type="button" class="butn" id="editsearch" onclick="checkValidation(form)">Search</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					
				</form>

				<table id="formtext" class="filtersearch" style="border:1px solid #9ed9fe" th:unless="${travelerReq == null}">
                        <tbody id="all" class="all">
                            <tr>
                                <td class="lablevalue">
                                    Personal Number
                                </td>
                                <td class="lablevalue">
                                    Name
                                </td>
                                <td class="lablevalue">
                                    Category
                                </td>
                                <td class="lablevalue">
                                    Level Name
                                </td>
                                <td class="lablevalue">
                                    Grade Pay/Rank
                                </td>
                                <td class="lablevalue">
                                    Account Office
                                </td>
                                <td class="lablevalue">
                                    Approval State
                                </td>
                            </tr>
                            <tr>
                                <td>
									<form th:action="@{/mb/viewTraveler}" method="post">
	                                    <input type="submit" th:value="${travelerReq.personalNo}" onclick="encryptPNo();" id="personalNum" style="border: none;text-decoration: underline;color: #1caafd;" name="personalNo">
                                    </form>
                                </td>
                                <td th:text="${travelerReq.name}">
                                </td>
                                <td th:text="${travelerReq.categoryName}">
                                </td>
                                <td th:text="${travelerReq.levelName}">
                                </td>
                                <td th:text="${travelerReq.rankName}">
                                </td>
                                <td th:text="${travelerReq.accountOffice}">
                                </td>
                                <td th:text="${travelerReq.approvalState}">
                                </td>
                                <td th:if="${travelerReq.approvalState.ordinal} == 1">
									<form th:action="@{/mb/editTraveler}" method="post">
										<input type="hidden" name="personalNo" id="personalNum1" th:value="${travelerReq.personalNo}">
	                                    <input type="submit" value="Edit" th:onclick="encryptPersonalNo([[${travelerReq.personalNo}]])" style="border: none;text-decoration: underline;color: #1caafd;">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

					<p th:text="${error}" class="errors" style="margin-bottom:0"></p>
				</div>
			</div>
		</div>

</section>
<section>
<div class="blank"></div>
</section>
		<section>
			<div th:insert="~{fragments/login/footer}"></div>
		</section>
</body>

</html>