<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/login/head}"></head>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/popup/LightFace.css}">
<script
	th:src="@{/js/common/popup/mootools.js}"></script>
<script
	th:src="@{/js/common/popup/LightFace.IFrame.js}"></script>
<script
	th:src="@{/js/common/popup/LightFace.js}"></script>
<script
	th:src="@{/js/common/popup/LightFace.Request.js}"></script>


<script type="text/javascript"> 

</script> 
<body
	oncontextmenu="javascript:alert('Mouse Right Click is blocked');false;">
	<div th:insert="~{fragments/header/mainHeader}">...</div>
	<section id="midpart" class="midpart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<form>
					 <div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead"> 
                              <p style="text-align: center;"><b>
                                 TRAVELLING
										ALLOWANCE CLAIM FOR MOVES ON PERMANENT TRANSFER
                                </b></p>
                            </div>
                             <div class="welcomecont">
						<div th:if="${taDaClaimDetails.claimType}==1">
							<table class="filtersearch" cellspacing="1" cellpadding="4"
								width="100%" border="0">
								<tbody class="all1">
								<tr>
									<td class="lablevalue" colspan="11" style="text-align: center;">This
											is supplementary claim for claim id
											<a href="javascript:void(0);" th:attr="onclick='viewMainClaimDetails(\''+${taDaClaimDetails.mainClaimId}+'\')'">
											<span th:text="${taDaClaimDetails.mainClaimId}"></span> </a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						</div>
						</div>
						</div>
						
						 <div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead"> 
                                <p>
                                Details in respect of the Claimant
                                </p>
                            </div>
                            <div class="welcomecont">
						<table class="filtersearch" width="100%" cellspacing="1"
							cellpadding="4" border="0">
							<tbody class="all1">
							<tr>
								<td class="lablevalue" style="width:12%">Name</td>
								<td style="width:13%" th:text="${taDaClaimDetails.name}"></td>
								<td class="lablevalue" style="width:12%">Corps/Office</td>
								<td style="width:13%" th:text="${taDaClaimDetails.unitName}"></td>
								<td class="lablevalue" style="width:12%">Personal/Staff No</td>
								<td style="width:13%" th:text="${taDaClaimDetails.personalNo}"></td>
								<td class="lablevalue" style="width:12%" th:if="${taDaClaimDetails.armedfrc}==1">DAD
										Account No</td>
								<td class="lablevalue" style="width:12%" th:unless="${taDaClaimDetails.armedfrc}==1">PCDAO
										Pay Account No</td>
								<td style="width:13%" th:text="${taDaClaimDetails.payAccntNo}"></td>
							</tr>

							<tr>
								<td class="lablevalue" style="width:12%">Pay Level (<span style="color:red;font-weight:normal">Last
										Pay Drawn before Transfer</span>)</td>
								<td style="width:13%" th:text="${taDaClaimDetails.levelName}"></td>
								<td class="lablevalue" style="width:12%">Basic Pay(<span style="color:red;font-weight:normal">Last
										Pay Drawn before Transfer</span>)</td>
								<td style="width:13%" th:text="${taDaClaimDetails.basicPay}"></td>
								<td class="lablevalue" style="width:12%">Transferred from</td>
								<td style="width:13%" th:text="${taDaClaimDetails.trnsfrFrom}"></td>
								<td class="lablevalue" style="width:12%">Transferred To</td>
								<td style="width:13%" th:text="${taDaClaimDetails.trnsfrTo}"></td>
							</tr>

							<tr>
								<td class="lablevalue" style="width:12%">Departure Place</td>
								<td style="width:13%" th:text="${taDaClaimDetails.jrnyStrtdFrom}"></td>
								<td class="lablevalue" style="width:12%">Departure Date</td>
								<td style="width:13%" th:text="${taDaClaimDetails.jrnyStrtdTime}"></td>
								<td class="lablevalue" style="width:12%">Arrival Place</td>
								<td style="width:13%" th:text="${taDaClaimDetails.jrnyStrtdTo}"></td>
								<td class="lablevalue" style="width:12%">Arrival Date</td>
								<td style="width:13%" th:text="${taDaClaimDetails.jrnyFnshTime}"></td>
							</tr>

									<tr>
								<td class="lablevalue" style="width:12%">Rule in TR/SR</td>
								<td style="width:13%" th:text="${taDaClaimDetails.trRuleName}">></td>
								<td class="lablevalue" style="width:12%">Move Sanction No</td>
								<td style="width:13%" th:text="${taDaClaimDetails.moveSanctionNo}">></td>
								<td class="lablevalue" style="width:12%">Move Sanction Date</td>
								<td style="width:13%" th:text="${taDaClaimDetails.movSanctionDate}">></td>
								<td class="lablevalue" style="width:12%">Move Issuing Authority</td>
								<td style="width:13%" th:text="${taDaClaimDetails.moveIssungAuth}">></td>
																</tr>
							</tbody>
															</table>
														</div>
							</div>
						</div>
						
						
						 <div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead"> 
                                <b><p>
                                DTS Journey Details
                                </p></b>
                            </div>
                            <div class="welcomecont">
							<div th:if="${taDaClaimDetails.taDaJourneyDetails}==null"></div>
							<!--    <tbody th:if="${taDaClaimDetails.taDaJourneyDetails}!=null" > -->
							<div th:if="${taDaClaimDetails.taDaJourneyDetails}!=null">
								<table  class="filtersearch"
									th:each="src:${taDaClaimDetails.taDaJourneyDetails.taDaJourney}">
									<tbody class="all1">
									<tr>
										<td class="lablevalue" colspan="11" bgcolor="#AAAAAA" style="text-align:right">Journey
												Type:<span style="font-weight:normal" th:text="${src.journeyType}"></span></td>
									</tr>

									<tr>
										<td class="lablevalue">Mode of Travel</td>

										<td
											th:if="${src.travelMode}=='Flight' or ${src.travelMode}=='Air'">
											<span th:text="${src.travelMode}"></span>(<span
											th:text="${src.travelMode}"></span>)
										</td>
										<td
											th:unless="${src.travelMode}=='Flight' or ${src.travelMode}=='Air'">
											<p style="text-decoration: underline;">
												<span th:text="${src.travelMode}"></span>
											</p>
										</td>

										<!--   		  <div class="tooltip" > -->
										<!-- 		           <p style="text-decoration: underline;"><span th:text="${src.travelMode}"></span>(<span th:text="${src.travelMode}"></span>)</p>  -->
										<!-- 			           <table class="tooltiptext" cellspacing="1" cellpadding="4" width="100%" border="0" style="text-align:left"> -->
										<!-- 			           <tr class="lablevalue"> -->
										<!-- 				           <td nowrap="true"><b> Reason for Other Airline:</b> <span th:text="${src}"></span></td> -->
										<!-- 				       </tr>    -->
										<!-- 				       <tr class="lablevalue">    -->
										<!-- 				           <td nowrap="true"><b> Authority No:</b> <output ref="AUTHORITY_NO"/></td> -->
										<!-- 				        </tr>    -->
										<!-- 				       <tr class="lablevalue">    -->
										<!-- 				           <td nowrap="true"><b> Authority Date:</b> <output ref="AUTHORITY_DATE"/></td> -->
										<!-- 			            </tr>   -->
										<!-- 			           </table> -->
										<!-- 		            </div> -->

										<!--   		  </td> -->
										<!-- 	         <td th:unless="${src.travelMode}=='Flight' || ${src.travelMode}=='Air'" th:text="${src.travelMode}"></td> -->
										<td class="lablevalue">Departure Place</td>
										<td th:text="${src.fromStation}"></td>
										<td class="lablevalue">Arrival Place</td>
										<td th:text="${src.toStation}"></td>
										<td class="lablevalue">Class of Accommodation</td>
										<td th:text="${src.journeyClass}"></td>
									</tr>
									<tr>
										<td class="lablevalue">Departure Time</td>
										<td th:text="${src.journeyDate}"></td>
										<td class="lablevalue">Arrival Time</td>
										<td th:text="${src.journeyEndDate}"></td>
										<td class="lablevalue">Sector</td>
										<td th:text="${src.sector}"></td>
										<td class="lablevalue">Bill/PNR/ Ticket No.</td>
										<td th:text="${src.pnrOrAirTxnd}"></td>
									</tr>
									<tr>
										<td class="lablevalue">Distance(KM)</td>
										<td th:text="${src.distance}"></td>
										<td class="lablevalue">Total Fare</td>
										<td th:text="${src.bookingAmount}"></td>
										<td class="lablevalue">Total Refund</td>
										<td th:text="${src.refundAmount}"></td>
										<td class="lablevalue">Total Claimed Amount</td>
										<td th:text="${src.claimedAmount}"></td>
									</tr>
									
									<tr>
										<td colspan="11" bgcolor="#003A70" align="left">
											<table class="filtersearch" width="100%" cellspacing="1"
												cellpadding="4" border="0">
												<tbody class="all3">
												<tr class="lablevalue">

													<td>Traveler Name</td>
													<td>Relation</td>
													<td>Age</td>
													<td>Ticket No</td>
													<td>Journey Performed?</td>
													<td>Booking Amount</td>
													<td>Refund Amount</td>
													<td>Claimed Amount</td>
												</tr>

												<tr th:each="sr:${src.taDaPassDetails}">
													<td th:text="${sr.travellerName}"></td>
													<td th:text="${sr.relation}"></td>
													<td th:text="${sr.age}"></td>
													<td th:text="${sr.ticketNo}"></td>
													<td th:if="${sr.journeyPerformed}=='YES'"
														th:text="${sr.journeyPerformed}"></td>
													<td
														th:unless="${sr.journeyPerformed}=='YES'">
														<div class="tooltip">
															<p style="text-decoration: underline;margin-bottom:0"
																th:text="${sr.journeyPerformed}"></p>
															<table class="tooltiptext"
																style="text-align: left;left:-60px">
																<tbody class="all5">
																<tr class="lablevalue">
																	<td nowrap="nowrap">Cancellation Ground: <span style="font-weight:normal"
																		th:text="${sr.cancellationGrnd}"></span></td>
																</tr>
																<tr class="lablevalue">
																	<td nowrap="nowrap">Sanction No: <span style="font-weight:normal"
																		th:text="${sr.cancellationRmrk}"></span></td>
																</tr>
																<tr class="lablevalue">
																	<td nowrap="nowrap">Sanction Date: <span style="font-weight:normal"
																		th:text="${sr.cancellationDate}"></span></td>
																</tr>
																</tbody>
															</table>
														</div>
													</td>
													<td th:text="${sr.bookingAmount}"></td>
													<td th:text="${sr.refundAmount}"></td>
													<td th:text="${sr.claimedAmount}"></td>
												</tr>

</tbody>
											</table>
										</td>
									</tr>
								</tbody>
								</table>
							</div>
						</div>
						</div>
							</div>
						
						
						 <div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" cellspacing="1"
							cellpadding="4" border="0">
							<tbody class="all1">
							<tr class="tadaHeading">
								<td><b>CTG &amp; Personal Effects</b></td>
							</tr>
							</tbody>
						</table>
						<table class="filtersearch" width="100%" cellspacing="2"
							cellpadding="0" border="0">
							<tbody class="all1">
							<tr class="lablevalue">
								<td style="width: 20%;"></td>
								<td style="width: 20%;">Claimed Amount</td>
								
							</tr>
							<tr>
								<td class="lablevalue" style="width: 20%;">Composite Transfer and
										Packing Grant (CTG)</td>
								<td style="width: 20%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.ctgAmount}"></td>
								
							</tr>
							</tbody>
						</table>
						<table class="filtersearch" width="100%" cellspacing="2"
							cellpadding="0" border="0">
							<tbody class="all1">
							<tr class="lablevalue">
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Particulars</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Weight (in
										Kg)</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Mode of
										Conveyance</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Distance
										(in Kms)</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Claimed
										Amount</td>
								
							</tr>

							<tr th:each="src:${taDaClaimDetails.claimPersonalEffectsBean}">
								<td style="width: 15%;" th:text="${src.particulars}"></td>
								<td style="width: 15%;" th:text="${src.weight}"></td>
								<td style="width: 15%;" th:text="${src.modeOfConveyance}"></td>
								<td style="width: 15%;" th:text="${src.distance}"></td>
								<td style="width: 15%;" th:text="${src.claimedAmt}"></td>
								
							</tr>
</tbody>
						</table>
						<table class="filtersearch" width="100%" cellspacing="2"
							cellpadding="0" border="0">
							<tbody class="all1">
							<tr>
								<td class="lablevalue" style="width: 25%;">Is Conveyance part of
										Luggage?</td>
								<td style="width: 25%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.convPartOfLugg == 0 ? 'Yes':'No'}">></td>
							</tr>
							<tr th:if="${taDaClaimDetails.claimAdvanceDtls.convPartOfLugg}==1">
								<td class="lablevalue" style="width: 25%;">Transportation of Conveyance</td>
								<td style="width: 25%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.conveyanceName}"></td>
							</tr>
							</tbody>
						</table>
						<table class="filtersearch" width="100%" cellspacing="2"
							cellpadding="0" border="0"
							th:if="${taDaClaimDetails.claimAdvanceDtls.convPartOfLugg}==1">
							<tbody class="all1">
							<tr class="lablevalue">
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Weight (in
										Kg)</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Mode of
										Conveyance</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Distance
										(in Kms)</td>
								<td style="width: 15%;background-color:#EBF4FA;border-right:1px solid white">Claimed
										Amount</td>
								
							</tr>
							<tr th:each="al:${taDaClaimDetails.claimPersonalEffectsBean}">
								<td style="width: 15%;" th:text="${al.weight}"></td>
								<td style="width: 15%;" th:text="${al.modeOfConveyance}"></td>
								<td style="width: 15%;" th:text="${al.distance}"></td>
								<td style="width: 15%;" th:text="${al.claimedAmt}"></td>
								
							</tr>
							</tbody>
						</table>
						</div>
						
						<div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" cellspacing="1"
							cellpadding="4" border="0">
							<tbody class="all1">
							<tr class="tadaHeading">
								<td><b>Advances Drawn</b></td>
							</tr>
							</tbody>
						</table>
						<table class="filtersearch" width="100%" cellspacing="2"
							cellpadding="0" border="0">
							<tbody class="all1">
							<tr class="lablevalue">
								<td style="width: 12%;">Advance Drawn From</td>
								<td style="width: 12%;">Date of Advance</td>
								<td style="width: 12%;">Luggage including Cartage if
										any</td>
								<td style="width: 12%;">Conveyance</td>
								<td style="width: 12%;">CTG</td>
								<td style="width: 12%;">Total</td>
								
							</tr>
							<tr>
								<td style="width: 12%;">DTS</td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.daAdvanceDate}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.daAdvanceLuggage}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.daAdvanceConveyance}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.daAdvanceCtg}"></td>
								<td style="width: 12%;" colspan="3"
									th:text="${taDaClaimDetails.claimAdvanceDtls.daAdvanceAmount}"></td>
							</tr>
							<tr>
								<td style="width: 12%;">PAO</td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvanceDate}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvLugg}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvConvyance}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvCtg}"></td>
								<td style="width: 12%;"
									th:text="${taDaClaimDetails.claimAdvanceDtls.paoAdvanceAmount}"></td>
								
							</tr>
							</tbody>
						</table>
						</div>


						<div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" cellspacing="1"
							cellpadding="4" border="0">
							<tbody class="all1">
							<tr class="tadaHeading">
								<td>Advances Refunded</td>
							</tr>
							</tbody>
						</table>

						<table style="table-layout: fixed" width="100%" cellspacing="2"
							cellpadding="0" border="0" class="filtersearch">
							<tbody class="all1">
							<tr class="lablevalue">
								<td>eMRO/MRO/Refund Amount</td>
								<td>eMRO/MRO/Refund No</td>
								<td>eMRO/MRO Submission Date/Refund Date</td>
								<td>MRO Received</td>
								
							</tr>
							<tr>
								<td><span
									th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundAmount}"></span>
									<input type="hidden" id="mroRefundAmount"
									th:value="${taDaClaimDetails.claimAdvanceDtls.mroRefundAmount}" /></td>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundRefId}"></td>
								<td th:text="${taDaClaimDetails.claimAdvanceDtls.mroRefundDate}"></td>
								<td th:text="${taDaClaimDetails.claimAdvanceDtls.mroReceived}"></td>
								
							</tr>
							</tbody>
						</table>
						</div>

						 <div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" border="0" align="center">
						<tbody class="all1">
							<tr class="tadaHeading">
								<td colspan="4">&#160;</td>
							</tr>
							<tr>
								<td class="lablevalue" style="width:25%">Any other Deduction from Officer</td>
								<td style="width:25%"
									th:text="${taDaClaimDetails.claimAdvanceDtls.otherDeduction}"></td>
								<td class="lablevalue" style="width:20%">Reason</td>
								<td style="width:30%"
									th:text="${taDaClaimDetails.claimAdvanceDtls.otherDeductionReason}"></td>
							</tr>
							</tbody>
						</table>
						</div>

						
						 <div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" border="0" align="center">
						<tbody class="all1">
							<tr class="tadaHeading">
								<td colspan="4">Details of Recovery against this Travel (if
									any)</td>
							</tr>
							<tr class="lablevalue">
								<td>IRLA Recovery Amount</td>
								
								
							</tr>
							<tr>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.irlaRecvryAmnt}"></td>
								
								

							</tr>
							</tbody>
						</table>
						</div>
						

					
						 <div class="welcomebox" style="margin-bottom:2px">
						<table class="filtersearch" width="100%" border="0" align="center">
						<tbody class="all1">
							<tr class="lablevalue">
								<td><span th:text="#{claim.mb.amount.label.claim}"></span>:&#160;&#160;<span
										th:text="${taDaClaimDetails.totalSpentAmount}"></span> </td>
<!-- 								<td><span th:text="#{claim.PAO.amount.label.claim}"></span>:&#160;&#160;<span -->
<!-- 										th:text="${taDaClaimDetails.totalApprovedAmnt}"></span> </td> -->
							</tr>
							<tr class="lablevalue">
								<td><span th:text="#{claim.mb.amount.label.advance}"></span>:&#160;&#160;<span
										th:text="${taDaClaimDetails.totalAdvanceAmount}"></span></td>
<!-- 								<td><span -->
<!-- 										th:text="#{claim.PAO.amount.label.advance}"></span>:&#160;&#160;<span -->
<!-- 										th:text="${taDaClaimDetails.totalApprovdAdvnc}"></span></td> -->
							</tr>
							<tr class="lablevalue">
								<td><span th:text="#{claim.mb.amount.label.refund}"></span>:&#160;&#160;<span
										th:text="${taDaClaimDetails.totalRefundAmount}"></span></td>
<!-- 								<td><span th:text="#{claim.PAO.amount.label.refund}"></span>:&#160;&#160;<span -->
<!-- 										th:text="${taDaClaimDetails.totalApprovdRfnd}"></span></td> -->
							</tr>
							<tr class="lablevalue">
								<td><span th:text="#{claim.mb.amount.label.payable}"></span>:&#160;&#160;<span
										th:text="${taDaClaimDetails.totalClaimedAmount}"></span><span
									class="mandatory">*</span></td>
<!-- 								<td><span -->
<!-- 										th:text="#{claim.PAO.amount.label.payable}"></span>:&#160;&#160;<span -->
<!-- 										th:text="${taDaClaimDetails.passedAmount}"></span><span -->
<!-- 									class="mandatory">*</span></td> -->
							</tr>
							<tr>
								<td colspan="2"><span style="color:red"><span
										th:text="#{claim.negativen.amount.msg}"></span></span></td>
							</tr>
							</tbody>
						</table>
						</div>


<div id="program" class="programBlock">
                        <div class="welcomebox" style="margin-bottom:2px">
                            <div class="welcomeHead"> 
                                <p>
                                 Certify that
                                </p>
                            </div>
                            <div class="welcomecont">
						<table class="filterserach" width="100%" cellspacing="1"
							cellpadding="4" border="0">
							<tbody class="all1">
							<tr th:each="certify,srt:${taDaClaimDetails.claimCertifyView}">
								<td style="width:5%" th:text="${srt.count}"></td>
								<td style="width:95%" th:text="${certify.certifyQuestion}"></td>
							</tr>
							</tbody>
						</table>
						</div>
						</div>
						</div>

						<div th:if="${#lists.isEmpty(taDaClaimDetails.claimDocDtls)}"></div>
						<div th:unless="${#lists.isEmpty(taDaClaimDetails.claimDocDtls)}">
						<div class="welcomebox" style="margin-bottom:2px">
							<table class="filtersearch" width="100%" cellspacing="1"
								cellpadding="4" border="0">
								<tbody class="all1">
								<tr class="tadaHeading">
									<td>Uploaded documents:</td>
								</tr>
								</tbody>
							</table>

							<table style="table-layout: fixed" width="100%" cellspacing="2"
								cellpadding="0" border="0" class="filtersearch">
								<tbody class="all1">
								<tr class="lablevaluebg">
									<td class="lablevalue">Document Name</td>
									<td class="lablevalue">File</td>
								</tr>
								<tr th:each="file:${taDaClaimDetails.claimDocDtls}">
									<td th:text="${file.docName}"></td>
									<td th:if="${file.filePath} == null or ${file.filePath} == ''"></td>
									<td th:unless="${file.filePath} == null or ${file.filePath} == ''">
						            	<a th:href="@{/com/downloadFile(dwnFilePath=${file.filePath})}"><img th:src="@{/images/pdfImage.png}" style="width:30px;height:35px" alt=""></a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						</div>

						 <div class="welcomebox" style="margin-bottom:2px">
						<table align="center" width="100%" border="0" class="filtersearch">
						<tbody class="all1">
							<tr th:if="${taDaClaimDetails.armedfrc}==1">
								<td class="lablevalue">Counter Singing Authority</td>
								<td colspan="3"
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityName}"></td>
							</tr>

							<tr th:unless="${taDaClaimDetails.armedfrc}==1">
								<td class="lablevalue">Counter Singing Authority Personal No</td>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityPersonal}"></td>
								<td th:text="${taDaClaimDetails.claimAdvanceDtls.authorityName}"></td>
								<td
									th:text="${taDaClaimDetails.claimAdvanceDtls.authorityLevel}"></td>
							</tr>

							<tr>
								<td class="lablevalue" colspan="2">Date of Claim preferred by the
										Individual to the Office</td>
								<td colspan="2"
									th:text="${taDaClaimDetails.claimAdvanceDtls.claimSubmitDate}"></td>
							</tr>
							<tr class="lablevalue">
								<td colspan="4">If Date of Claim Preferred is more
										than 60 days from last date of Journey then whether time
										barred sanction taken? <span style="font-weight:normal"
									th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimPrfrd}"></span>
								</td>
							</tr>
							<tr class="lablevalue">
								<td>Sanction No: <span style="font-weight:normal"
									th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimAuth}"></span></td>
								<td colspan="3">Sanction Date: <span style="font-weight:normal"
									th:text="${taDaClaimDetails.claimAdvanceDtls.delayClaimDate}"></span></td>
							</tr>
</tbody>
						</table>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
