<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/login/head}"></head>


<script th:src="@{/js/MB/RequestDashBoard/normalbookingdashboard/normalrail.js(random=${session.jsToken})}"> </script>


<body oncontextmenu="javascript:alert('Mouse Right Click is blocked');false;">

		<div th:insert="~{fragments/header/mainHeader}"></div>
		<section id="midpart" class="midpart">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">

<form  th:action="@{/mb/getRailTrainsData}" th:method="post" name="irctcSrchPage" id="irctcSrchPage">

<input type="hidden" name="nAdult" id="nadult" th:value="${preModel.nAdult}" />
<input type="hidden" name="nChild" id="nchild"  th:value="${preModel.nChild}"/>
<input type="hidden" name="nSenior" id="nsenior"  th:value="${preModel.nSenior}"/>
<input type="hidden" name="nInfant" id="ninfant" th:value="${preModel.nInfant}" />
<input type="hidden" name="nWSenior" id="nwsenior" th:value="${preModel.nWSenior}" />
<input type="hidden" name="reqId" th:value="${preModel.reqId}" />
<input type="hidden" name="groupId" th:value="${preModel.groupId}"  />

<input type="hidden" name="highestJrnyClass" th:value="${preModel.highestJrnyClass}" />
<input type="hidden" name="isCancelWaitListTicket" id="isCancelWaitListTicket" th:value="${preModel.isCancelWaitListTicket}" />
<input type="hidden" name="userId"  th:value="${preModel.userId}" />
<input type="hidden" name="bookingSeqNo"  th:value="${preModel.bookingSeqNo}" />
<input type="hidden" name="tktSeqNo" th:value="${preModel.tktSeqNo}" />
<input type="hidden" name="appDepDate" id="appDepDate" th:value="${preModel.dateStr}" />
<input type="hidden" name="isTatkalApproved" id="isTatkalApproved" th:value="${preModel.isTatkalApproved}"/>
<input type="hidden" name="travelTypeId" id="travelTypeId" th:value="${preModel.travelTypeId}" />
<input type="hidden" name="personalNo" id="personalNo" th:value="${preModel.personalNo}" />
<input type="hidden" name="travelRuleId" id="travelRuleId" th:value="${preModel.travelRuleId}" />
<input type="hidden" name="JourneyYear" id="JourneyYear" th:value="${preModel.journeyYear}"/>
<input type="hidden" name="reBookingFlag" id="reBookingFlag" th:value="${preModel.legReBookingFlag}" />
<input type="hidden" name="srcStn" id="srcStn"  th:value="${preModel.srcStn}"/>
<input type="hidden" name="destStn" id="destStn"  th:value="${preModel.destStn}" />

<input type="hidden" name="clusterFlag" id="clusterFlag" th:value="${preModel.clusterFlag}" />
<input type="hidden" name="clusterMainLeg" id="clusterMainLeg" th:value="${preModel.clusterMainLeg}" />
<input type="hidden" name="clusterTrains" id="clusterTrains" th:value="${preModel.clusterTrains}" />
<input type="hidden" name="clusterPnrNo" id="clusterPnrNo"  th:value="${preModel.clusterPnrNo}"/>
<input type="hidden" name="clusterReservationId" id="clusterReservationId"  th:value="${preModel.clusterReservationId}" />

<input type="hidden" name="totalNoOfPassenger"  id="totalNoOfPassenger">

<div id="program" class="programBlock">
							<div class="welcomebox outmostT">
								<div class="welcomeHead">
									<p>
										Plan My Travel
									</p>
								</div>
								<div class="welcomecont">

<table id="outmostT" class="outmostT filtersearch">
<tr><td>

<table align="center" border="0" cellpadding="4" width="100%" cellspacing="1" class="filtersearch" >
<tbody class="all1">
<tr>
<td style="width:40%" >From</td>

 	<td style="width:60%" th:if="${preModel.isFromStnGroupExist}" >
					<select class="txtfldM" name="frmStationCode" >
					
						 		
						   			<option th:unless="${preModel.groupedFromStation}==null" 
						   			th:each="src : ${preModel.groupedFromStation}"
						   			th:value="${src.key}" th:text="${src.value}"
						   			th:selected="${src.key}==${preModel.reqFrmStnCode}"> </option>
						   		
						   		
						   			<option th:if=="${preModel.groupedFromStation}==null" 
						   			 th:value="${preModel.frmStn}"></option>
						   		
						    
					</select>
	</td>

<td style="width:60%" th:unless="${preModel.isFromStnGroupExist}">
<input type="text" class="txtfldM" name="frmStation" th:value="${preModel.frmStn}" id="stationFrom" readonly="readonly"/></td>

</tr>

<tr align="left">

<td>To</td>

 	<td style="width:60%" th:if="${preModel.isToStnGroupExist}">
					<select class="combo" name="toStationCode" >
						<option th:unless="${preModel.groupedToStation}==null" 
						   			th:each="src : ${preModel.groupedToStation}"
						   			th:value="${src.key}" th:text="${src.value}"
						   			th:selected="${src.key}==${preModel.reqToStnCode}"> </option>
						   		
						   		
						   			<option th:if=="${preModel.groupedToStation}==null" 
						   			 th:value="${preModel.toStn}"></option>
					</select>
	</td>


<td th:unless="${preModel.isToStnGroupExist}">
<input type="text" name="toStation" class="txtfldM" id="stationTo" th:value="${preModel.toStn}" readonly="readonly"/></td>

</tr>

<tr align="left">
<td>Departure</td>
<div id="calendar1_container"></div>		   
<td><input name="journeyDate" size="16" class="txtfldM" id="dpt_date" th:value="${preModel.dateStr}" readonly="readonly"/></td>
</tr>



<tr align="left">
<td>Class</td>
<td style="width:60%">
<select name="journeyClass" class="comboauto" id="journeyclass" ref="journeyclass" style="width:70%">

<option th:each="item :${preModel.jrnyClass}" th:value="${item.key}" th:text="${item.value}"> </option>

</select>
</td>
</tr>



<tr align="left"  th:if="${preModel.isTatkalApproved}=='Yes'">
<td><span> Tatkal</span></td>
<td class="d-flex" style="column-gap:0.2rem"><input type="checkBox" name="isTatkal" id="tatkal" checked="checked"/><font size="1"> (To Book Tatkal Please Check Using Checkbox)</font></td>
</tr>



<tr>
<td colspan="2" style="text-align:right">
<input type="button" class="butn" onclick=" irctcSrchSubmit();" value="Search"/>
</td>
</tr>
</tbody>
</table>


</td></tr></table>
</div>
</div>
</div>
<div id="wait" style="display: none;">
</div>

<div class="innerwaitdiv" id="innerwait" style="text-align:center">
	<table border="0" cellpading="0" cellspacing="0" width="100%" class="filtersearch" height="180" >
	<tbody class="all1">
	<tr class="tdborder8">
		<td style="width:10%"></td>
		<td class="lablevalue">
			Please wait
			
		</td>
		
	</tr>
	<tr class="tdborder8">
		<td style="width:10%"></td>
		<td>
			We are searching for the best available options.
		</td>
		
	</tr>
	<tr class="tdborder8">
		<td style="width:10%"></td>
		<td>
			This may take upto a minute. Please do not refresh or close this window.
		</td>
		
	</tr>
	</tbody>
	</table>

	
</div>
</form>
</div>
</div>
</div>

</section>
	<section>
	<div class="blank"></div>
	</section>
	<section>
    <div th:insert="~{fragments/login/footer}"></div>
    </section>
</body>
</html>
