<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login/head}"></head>
<!-- <script th:src="@{/js/MB/FinalClaim/RejectedClaim/tadaSettlement.js(random=${session.jsToken})}"></script> -->
<script>
function editClaimIdTaDaDetails(tadaClaimId) {
	$("#selected_claimId").val(tadaClaimId);
	$("#taDaRptFilter").submit();
}
</script>

<style type="text/css">

.screen-freeze {
	background-color: white;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99999;
	
}
</style>

<body>

   <div th:insert="~{fragments/header/mainHeader}"></div>
	<section id="midpart" class="midpart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
<form name="taDaRptFilter" id="taDaRptFilter" th:action="@{/mb/rejectedClaimDetails}" method="post">
	<input type="hidden" name="selectedClaimId" id="selected_claimId">
</form>
<div id="program" class="programBlock">
							<div class="welcomebox">
								<div class="welcomeHead">
									<p>Rejected Claim</p>
								</div>
								<div class="welcomecont">

	<div th:unless="${claimList} == null or ${#lists.size(claimList)} == 0">
       
							 <table class="formtxt" cellspacing="1" cellpadding="4" width="100%" border="0" >
								 <tbody class="all1">
									<tr  class="lablevalue" bgcolor="#fbfac8"  align="left">
								 	 <td>Action</td>
								 	 <td>Claim ID</td>
								 	 <td>Personal No</td>
									 <td>CDAO A/c No</td>
									 <td>Travel Type</td>
									 <td>Claim Received On</td>
									 <td>Total Amount Spent on Journey</td>
									 <td>Claimed Amount</td>
									 <td>Priority</td>
							        </tr>

									<tr th:each="src : ${claimList}">
								  	   <td><a href="javascript:void(0);" th:attr="onclick='editClaimIdTaDaDetails('+${src.tadaClaimId}+');'">Edit</a></td>
							           <td th:text="${src.tadaClaimId}"></td>
									   <td th:text="${src.personalNo}"></td>
									   <td th:text="${src.cdacAccNo}"></td>
									   <td th:text="${src.travelType}"></td>
									   <td th:text="${src.claimReceivedOn}"></td>
									   <td th:text="${src.totalAmountSpent}"></td>
									   <td th:text="${src.claimedAmount}"></td>
									   <td th:text="${src.priority}"></td>
					 				 </tr>
</tbody>
						 </table>
		
			</div>

					 				 <div class="errors" th:if="${claimList} == null or ${#lists.size(claimList)} == 0">No results Found</div>
								</div>
							</div>
</div>


 <div class="screen-freeze" id="screen-freeze" >
	<div style="margin:15% 0% 0% 45%">
		<img th:src="@{/images/spinning_wheel_96x96px.gif}" alt=""/>
	</div>
</div>
				</div>
			</div>
		</div>
	</section>
	<section>
	<div class="blank"></div>
	</section>
	<section>
    <div th:insert="~{fragments/login/footer}"></div>
    </section>

</body>
</html>
