<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/login/head}"></head>

<body oncontextmenu="javascript:alert('Mouse Right Click is blocked');false;">

	<div th:insert="~{fragments/header/mainHeader}">...</div>

	<section id="midpart" class="midpart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<form th:action="@{/mb/tdrFinalProcessForm}" id="tdrFinalProcessForm" name= "tdrFinalProcessForm" method="post">
					
                    <input type="hidden" name="bookingId" th:value="${tktBkgData.bookingId}">
                    <input type="hidden" name="pnrNo" th:value="${tktBkgData.pnrNo}">
						<div id="program" class="programBlock">
							<div class="welcomebox" style="margin-bottom:1rem">
								<div class="welcomeHead">
									<p>
										Ticket Details For TDR
									</p>
								</div>
								<div class="welcomecont">
									<table class="filtersearch">
										<tbody class="all1">


											<tr>
												<td class="lablevalue"> Ticket Number </td>
												<td><span th:text="${tktBkgData.ticketNo}"> </span>
												</td>
												<td class="lablevalue"> PNR Number </td>
												<td><span th:text="${tktBkgData.pnrNo}"> </span></td>
											</tr>

											<tr>
												<td class="lablevalue">Train Number</td>
												<td><span th:text="${tktBkgData.trainNumber}">
													</span></td>
												<td class="lablevalue">Train Name</td>
												<td><span th:text="${tktBkgData.trainName}"> </span>
												</td>
											</tr>

											<tr>
												<td class="lablevalue">Date of Booking</td>
												<td><span th:text="${tktBkgData.bookingDateStr}">
													</span></td>
												<td class="lablevalue">Date of Journey</td>
												<td><span th:text="${tktBkgData.boardingDateStr}">
													</span></td>
											</tr>

											<tr>
												<td class="lablevalue">Quota</td>
												<td><span th:text="${tktBkgData.journeyQuota}">
													</span></td>
												<td class="lablevalue">Class</td>
												<td><span th:text="${tktBkgData.journeyClass}">
													</span></td>
											</tr>

											<tr>
												<td class="lablevalue">Personal No</td>
												<td><span th:text="${tktBkgData.personalNo}"> </span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="program" class="programBlock">
							<div class="welcomebox" style="margin-bottom:1rem">
								<div class="welcomeHead">
									<p>
										Passenger Details
									</p>
								</div>
								<div class="welcomecont">
									<table id='pnrDetails' class="filtersearch" cellpadding="4" cellspacing="1"
										width="100%" border="0">
										<tbody class="all1">
											<tr class="lablevalue">
												
												<td> S.No </td>
												<td> Name </td>
												<td> Gender </td>
												<td> Age </td>
												<td> Coach </td>
												<td> Seat </td>
												<td> Berth </td>
											</tr>

										</tbody>
										

										<tbody class="all1"	th:each="src,stat: ${tktBkgData.passengerList}" th:if="${src.isTdrFile.ordinal}==0">
											<tr >
                                          
												<td ><span th:text="${src.passangerNo}"> </span>
												</td>
												<td ><span th:text="${src.passangerName}"> </span>
												</td>
												<td ><span th:text="${src.passSex}"> </span></td>
												<td ><span th:text="${src.passangerAge}"> </span></td>
												<td ><span th:text="${src.trnCoach}"> </span></td>
												<td ><span th:text="${src.seat}"> </span></td>
												<td ><span th:text="${src.trnBerth}"> </span></td>
											
											</tr>
										</tbody>


									</table>
								</div>
							</div>
						</div>

<div class="welcomebox"  style="margin-bottom:1rem">
						<table id='pnrDetails' class="filtersearch">
<tbody class="all1">
							
									<tr>
										<td style="width:30%" class="lablevalue">
												On Official Ground</td>
										<td style="width:70%">
										<span th:text="${tktBkgData.tdrOnOfficalGround}"> </span>
										<input type="hidden" name="isTdrOfficial" id="isTdrOfficial" th:value="${tktBkgData.tdrOnOfficalGround}">
											
										</td>
									</tr>
							</tbody>

						</table>
						</div>


						<!--   TDR Reason and Approval Block End -->
						<br />


								<div id="program" class="programBlock">
									<div class="welcomebox" style="margin-bottom:1rem">
										<div class="welcomeHead">

											<p>
												TDR Reason
											</p>
										</div>
										<div class="welcomecont">

											<table id='pnrDetails' class="filtersearch" cellpadding="4" cellspacing="1"
												width="100%" border="0">
												<tbody class="all1" >
													<tr>
														<td style="width:30%" class="lablevalue">Guard Certificate Slip</td>
														<td style="width:70%">
														<span th:text="${tktBkgData.isGc}"> </span>
														
															<input type="hidden" name="isTdrGuardSlip"
																id="isTdrGuardSlip" th:value="${tktBkgData.isGc}">
														
														</td>
													</tr>
													<tr th:if="${tktBkgData.isGc.ordinal}== 0">
														<td style="width:30%" class="lablevalue">Guard Certificate Slip Amount</td>
														<td style="width:70%">
														<span th:text="${tktBkgData.gcAmount}"> </span>
															<input type="hidden" name="tdrGuardSlipAmount" 
																id="tdrGuardSlipAmount" th:value="${tktBkgData.gcAmount}" />
														</td>
													</tr>
													<tr th:if="${tktBkgData.isGc.ordinal}== 0">
														<td style="width:30%" class="lablevalue">Guard Certificate Slip No.</td>
														<td style="width:70%">
														<span th:text="${tktBkgData.gcNumber}"> </span>
															<input type="hidden" name="tdrGuardSlipNo" id="tdrGuardSlipNo" 
																th:value="${tktBkgData.gcNumber}" />
														</td>
													</tr>
													<tr th:if="${tktBkgData.isGc.ordinal}==0">
														<td style="width:30%" class="lablevalue">Guard Certificate Date</td>
														<td style="width:70%">
														<span th:text="${tktBkgData.gcDate}"> </span>
															<input type="hidden" name="tdrGuardSlipDate" 
																id="tdrGuardSlipDate"  readonly="readonly" th:value="${tktBkgData.gcDate}" />
														</td>
													</tr>
													<tr>
														<td class="lablevalue">Reason to file TDR</td>
														<td>
														<span th:text="${tktBkgData.reasonOfTdr}"> </span>
														<input type="hidden" name="tdrReasonTxt" 
																id="tdrReason"  readonly="readonly" th:value="${tktBkgData.reasonOfTdr}" />
															
															
														</td>
													</tr>

													<tr>
														<td colspan="lablevalue" style="text-align:right">

															<input type="submit" class="butn" value="Proceed for TDR"/>
															<input type="submit" value="Back" class="butn"
																th:formaction="@{/mb/getPnrData}" th:formmethod="post" >
															<input type="button" class="butn" value=" Print this page "
																onclick="window.print();" />
														</td>
													</tr>
												</tbody>
												
											</table>
										</div>
									</div>
								</div>
							

					</form>
				</div>
			</div>
		</div>
	</section>
	<section>
<div class="blank"></div>
</section>
    <section>
			<div th:insert="~{fragments/login/footer}"></div>
		</section>
</body>

</html>