.login {
	width: 100%;
	border: 1px solid #9ed9fe;
	border-radius: 5px;
	min-height: 214px;
}

.heading1 {
	font: 14px arial;
	text-align: left;
/* 	color: #003A70; */
	color:#fff;
	padding: 4px 0 4px 4px;
	background: linear-gradient(to right, #0d4f46, #2d6e4b, #618c44, #a4a43b, #f4b543);
/* 	background-image: url("/images/head_st.gif"); */
	border-radius: 5px 5px 0px 0px;
}

.data-head {
	background-color: #D1D1D16c;
	color: #000;
}



.loginWelcomeName{
	color:#fff;
	float:right;
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	position:relative;
	top:-30px;
	width:30%;
	text-align:right;
	padding-right:5px;
}

.normaltxt {
	width: 97%;
	font-family: Verdana, verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

.normal tr td {
	padding: 5px !important;
	border: none !important;
}

.welcomebox {
	width: 100%;
	border: 1px solid #9ed9fe;
	float: left;
	border-radius: 5px;
}

.welcomeHead {
	height:30px;
	background: linear-gradient(to right, #0d4f46, #2d6e4b, #618c44, #a4a43b, #f4b543);
/* 	background-image: url("/images/head_st.gif"); */
	text-align: left;
	padding: 5px 0 0px 5px;
	border-radius: 5px 5px 0px 0px;
	color:#fff;
/* 	color: #003A70; */
	font-size: 14px;
}

.welcomeHead p {
/* 	color: #003A70; */
		color:#fff;
	padding-top: 5px;
	margin-bottom: 0;
	position: relative;
	top: -5px;
	font-size: 15px;
}

.welcomecont {
	font: 13px/18px arial;
	margin: 5px;
	color: #363738;
	text-align: justify;
}

.para1 {
	color: black;
}

.bold1 {
	color: red;
}

.para2 {
	color: blue;
	margin-bottom: 0;
}

.bold2 {
	color: green;
}

.para3 {
	color: red;
	margin-bottom: 0;
}

.para4 {
	margin-bottom: 0;
	color: black;
}

.updates {
	width: 100%;
	border: 1px solid #9ed9fe;
	float: left;
	margin-top: 5px;
	min-height: 144px;
	border-radius: 5px;
}

.updateHead {
	background: linear-gradient(to right, #0d4f46, #2d6e4b, #618c44, #a4a43b, #f4b543);
/* 	background-image: url("/images/head_st.gif"); */
/* 	color: #003a70; */
	color:#fff;
	padding: 4px 0 4px 5px;
	font-size: 14px;
	text-align: left;
	border-radius: 5px 5px 0px 0px;
}

.news {
	padding-left: 2px;
}

.play {
	float: right;
	padding-right: 10px;
}

.updatecont {
	margin: 0;
	border: 0px solid #ff0000;
}

.updatecont ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.updatecont ul li {
	margin: 0;
	padding: 3px;
}

.formtxt {
	font: 12px arial;
	text-align: left;
}

.formtxt tr {
	background-color: #fff;
}

tbody, tr, td {
	text-align: left;
	/*padding-left: 1.5rem;*/
}

.missionbox {
	background-image: url("/pcda/images/hepline_bg.png");
	width: 100%;
	border: 1px solid #b6e3fd;
	float: left;
	min-height: 159px;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-top: 5px;
}

.txtfld {
	margin: 0;
	padding: 5px;
	border: #9ed9fe 1px solid;
	border-radius: 5px;
	background: #fff;
	width: 78%;
	color: #363738;
	font-family: arial;
	font-size: 13px;
}

.cancelBtn {
	/*background: url("/images/btn_bgnd.png") no-repeat;*/
	background-color: #767777;
	border-radius: 5px;
	font: arial 12px/12px;
	color: #fff;
	border: none;
	line-height: 25px;
	cursor: pointer;
	padding: 2px 8px;
}
.dts {
	font: 13px arial;
	color: #363738;
	line-height: 22px;
	text-align: justify;
	margin:4px;
	height: 250px;
    overflow-y: scroll;
}