<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<body>
	<section id="midpart" class="midpart" style="min-height:200px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10" id="remarks">

					<form th:action=@{/mb/settleMasterMissDashboard} method="post" name="commentForm" id="commentForm">
						<div>
							<input name="personalNo" type="hidden" th:value="${personalNo}" id="personalNo">
							<input name="groupId" type="hidden" th:value="${groupId}" id="groupId">
							<input name="event" type="hidden" value="next" id="event">
						</div>
						<div id="program" class="programBlock">
							<div class="welcomebox">
								<div class="welcomeHead">
									<p><span th:text="${personalNo}"></span>Master Missing Comment History</p>
								</div>
								<div class="welcomecont">
									<table id="loginForm" class="filtersearch" width="100%" cellspacing="0" cellpadding="0"
										border="0">
										<tbody>
											<tr>
												<td>
													<div id="reqPoolDiv">

														<table id="loginForm" class="filtersearch" width="100%"
															cellspacing="1" cellpadding="5" border="0">
															<tbody class="all1">
																<tr>
																	<td th:text="#{mb.reports.mastermissdash.enterRemarks}">
																	</td>
																	<td><input name="comment" type="text" id="comments"
																			size="50">
																	</td>
																</tr>
																<tr align="center">
																	<td colspan="2" style="text-align:center"><button type="button" class="butn"
																			th:attr="onclick=|submitRequest('${personalNo}')|">Submit
																			Remark</button></td>
															
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	

</body>


</html>
