<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCDA Travel System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common/autoSuggest.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>

</head>
<body>
	<div>
		<div th:replace="fragments/mainHeader::${navigation}">...</div>
		<section class="midpart">
		<div class="container-fluid">
			<div style="width: auto; padding: 5px; filter: shadow(colorgray)">
				<div
					style="width: 100%; text-align: left; padding: 5px; background-color: #F4F4F4; border: 1px solid black;">
					<FONT SIZE="6" COLOR="#CC0033">Dear User</FONT>
					<hr />
					<BR /> <FONT SIZE="4" COLOR="#484B91"> There has been an
						error encountered due to which we will not be able to proceed
						further. <br>
					</FONT> <FONT SIZE="3"> <span style="color: red;"
						th:each="error:${errors}" th:text="${error}"> <span
							th:text="${error}"></span>

					</span>
					</FONT> <br />
				</div>
			</div>
		</div>
</section>
	</div>
	<section>
		<div class="blank"></div>
	</section>
	<section>
		<div th:insert="~{fragments/login/footer}"></div>
	</section>

</body>

</html>
