<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

  <table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tbody>
	<tr> 
    		<td  id="pageTitle" align="center"> 
      			<span style="color:green; font: 2.5em arial bold;">SORRY !! COOKIES ARE NOT ENABLED ON YOUR BROWSER.!!</span>
    		</td>
  	</tr>	
	  
  </tbody>
  </table>
 
<!--end page title area-->
  
<!--start main content area here-->
 
<table width="98%" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td>
	<table align="center" border="0" cellpadding="5" cellspacing="2">
	<tbody><tr>
	   <td align="center"><font face="Arial" color="#666666" size="2"><b>Your browser cookie is disabled, please enable cookies.</b></font>
	  <br>
	  </td>
	</tr>
	<tr>
	  <td align="center">
		<font face="Arial" color="#666666" size="2">
		<b>To return to the Defence Travel System</b>
		</font>
			<a th:href="@{/logout}" style="color:blue; font: 13px arial bold;">Click here</a>
	  </td> 
	</tr>
	</tbody></table>
	<br>
	<br>
    </td>
	</tr>
</tbody></table>

</body>
</html>