<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login/head}"></head>
<script type="text/javascript" th:src="@{/js/common/crypto.js}"></script>

<script type="text/javascript">

function validatePassword() {
    var newPassword = document.getElementById('newPwd').value;
    var oldPassword= document.getElementById('oldPwd').value;
    var minNumberofChars = 8;
    var maxNumberofChars = 20;
    var regularExpression  = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
   
   
    if(oldPassword.length < minNumberofChars) {
		  alert("Old Password Must Contain Atleast 8 characters");
		   blankField(); 
        return false;
    }
    if(oldPassword.length > maxNumberofChars){
		 alert("Old password Maximum Lenght is 20 characters");
		 blankField();  
        return false;
	}
   
    if(newPassword.length < minNumberofChars) {
		  alert("New Password Must Contain Atleast 8 characters");
		   blankField();  
        return false;
    }
    if(newPassword.length > maxNumberofChars){
		 alert("New password Maximum Lenght is 20 characters");
		  blankField();  
        return false;
	}
    if(!regularExpression.test(newPassword)) {
        alert("New Password should contain atleast one number and one special character and one Capital Alphabet");
        blankField();  
        return false;
    }
     if(!regularExpression.test(oldPassword)) {
        alert("Old Password should contain atleast one number and one special character and one Capital Alphabet");
       blankField();  
        return false;
    }
    return true;
}




function blankField(){
	 document.getElementById("newPwd").value="";
     document.getElementById("oldPwd").value="";
     document.getElementById("conformNewPwd").value="";  
}



function passwdCompair()
{
var newPwd=document.getElementById("newPwd").value;
var oldPwd=document.getElementById("oldPwd").value;
var confirmPwd=document.getElementById("conformNewPwd").value;

 

if(oldPwd==""){
alert("Please Enter Old Password");
return false;
}
if(newPwd==""){
alert("Please Enter New Password");
return false;
}
   
if(newPwd==oldPwd){
alert("New Password And Old Password Can't Be Same.");
document.getElementById("newPwd").value="";
document.getElementById("oldPwd").value="";
return false;
}
if(confirmPwd==""){
alert("Please Enter Confirm Password");
return false;
}
if(newPwd!=confirmPwd){
alert("New Password And Confirm Password Not Matched.");
document.getElementById("newPwd").value="";
document.getElementById("conformNewPwd").value="";
return false;
}
if(validatePassword()){
	
	var oldHash =CryptoJS.AES.encrypt(oldPwd,"Hidden Pass");
	var newPassHash =CryptoJS.AES.encrypt(newPwd,"Hidden Pass");
	var newcon=CryptoJS.AES.encrypt(confirmPwd,"Hidden Pass");
	document.getElementById("oldPwd").value=oldHash;
	document.getElementById("newPwd").value=newPassHash;
	document.getElementById("conformNewPwd").value=newcon;
return true;
}
}


function doGenerate(){
	var result = passwdCompair();
	var userAlias =$("#visitorName").val();
	var userId =$("#userId").val();

	 if(result){
    
	
	var encAlias =CryptoJS.AES.encrypt(userAlias,"Hidden Pass");
	var encUserId =CryptoJS.AES.encrypt(userId,"Hidden Pass");
	
	$("#visitorName").val(encAlias);
	$("#userId").val(encUserId);
	
	document.getElementById("passwrdChangeForm").submit();
	}
}




</script>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>

<body
	oncontextmenu="javascript:alert('Mouse Right Click is blocked');false;">
 <section class="topbar">
        <div class="container-fluid">
            <div class="tophead">
                <div class="logout">
                    <span class="signout">
                        
                    </span>
                </div>
            </div>
        </div>
        <div id="block" class="container-fluid">
            <div class="headnav">
            </div>
            </div>
	 </section>
<section class="midpart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				


<div class="col-lg-10">
<div> <p th:text="${error}" class="errors" style="margin-bottom:0;color:red"></p> </div>
<form  th:action="@{/firstLoginChangePwd}" name="loginForm" th:method="post" id="passwrdChangeForm">   

 
	 <input type="hidden" th:value="${userId}" id="userId" name="userId"  />



			<div id="program" class="programBlock">
                        <div class="welcomebox">
                            <div class="welcomeHead">
								<p>Change Password</p>
                            </div>
                             <div class="welcomecont">

<table class="filtersearch" id="loginForm">
<tbody class="all">
	<tr style="text-align:left">
		<td style="width:40%">Sign-In Id</td>
		<td style="width:60%">
			  <input type="text" th:value="${userAlias}"  id="visitorName" name="visitorName" />
		</td>
	</tr>
	<tr style="text-align:left">
		<td >Enter Old Password</td>
		<td ><input type="password"  id="oldPwd" autocomplete="off" class="txtfldM" name="oldPassword"/></td>
	</tr>
	<tr style="text-align:left">
		<td>Enter New Password</td>
		<td><input type="password" id="newPwd" class="txtfldM" name="newPassword" autocomplete="off" minlength=8 maxlength=20 /></td>
	</tr>
	<tr style="text-align:left">                    
		<td>Confirm Password</td>
		<td><input type="password" id="conformNewPwd" class="txtfldM" name="conformNewPassword" autocomplete="off" minlength=8 maxlength=20/></td>
	</tr>
	<tr >
		<td colspan="2"><button type="button" class="butn" onclick="doGenerate();">Login</button></td>
	</tr>
</tbody>
</table>
                             </div>
                        </div>
			</div>
</form>

</div>

<div class="col-lg-12">
<table border='0' width="100%" cellpadding='4' cellspacing='1' align='center' class="filtersearch" id="loginForm">
<tbody class="all">
	<tr style="text-align:left">
		<td class="lablevalue" style="width:100%"> <span th:text="#{message.pc.login.password.policy}"> </span></td></tr>
	<tr style="text-align:left">
		<td style="width:100%"><span th:text="#{message.pc.login.policy1}"> </span></td></tr>
	<tr style="text-align:left">
		<td style="width:100%"> <span th:text="#{message.pc.login.policy2}"> </span></td></tr>	
	<tr style="text-align:left">
		<td style="width:100%"> <span th:text="#{message.pc.login.policy3}"> </span></td></tr>
</tbody>
</table>
</div>


				
			</div>
		</div>
</section>
<section>
	<div class="blank"></div>
	</section>
	<section>
    <div th:insert="~{fragments/login/footer}"></div>
    </section>
</body>
</html>
