	 <section>
        <footer class="footer">
            <div class="container-fluid">
                <div class="footerframe">
                    <div class="footercont">
                        <div class="row">
                            <div class="col-lg-4">
                                <p>Copyright © 2009 - CGDA. All Rights Reserved.</p>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <span class="helplinerail">
                                    New IVR Helpline Number For Air and Rail- 011-26700300
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="footercont">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <span class="helplinerail">
                                    BL Air Helpline No: 0124-4603500/ 0124- 6282500
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="footercont">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <span class="helplinerail">
                                    ATT Air Helpline No: 7304542848 / 7738687401 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</footer>
    </section>